sentiment_with_ollama/Sentiment Analysis with Ollama.blueprint.json
{
    "name": "Sentiment Analysis with Ollama",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2237246,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "POST-webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://4476-2605-59c0-1f96-bc08-f826-fa14-be6e-3c15.ngrok-free.app/api/generate",
                "method": "post",
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\n  \"model\": \"llama3.2:latest\",\n  \"prompt\": \"You are an expert sentiment analyzer. Analyze the text below. If it contains complaints, fraud, or negative emotions, you MUST categorize it as <sentiment>negative</sentiment>. Otherwise, use <sentiment>positive</sentiment> or <sentiment>neutral</sentiment>. Text: {{1.text}}\",\n  \"stream\": false,\n  \"options\": {\"temperature\": 0.7}\n}"
            },
            "metadata": {
                "designer": {
                    "x": 330,
                    "y": -3
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8631644
            },
            "mapper": {
                "channelWType": "list",
                "text": "\"ai_model\"         : {{2.data.model}} \n\"created_time\"  :  {{2.data.created_at}} \n\"request_text\"   : {{1.text}}\n\"response_message\" : {{2.data.response}} \n\"status_code\"    : {{2.statusCode}}",
                "parse": false,
                "mrkdwn": true,
                "channelType": "im",
                "idType": "channel",
                "channel": "D0B0K8F14MR"
            },
            "metadata": {
                "designer": {
                    "x": 630,
                    "y": -3
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "makecombot (n8nworkspace-vpy6631.slack.com - makecombot)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            }
                        }
                    },
                    "expect": {
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Direct message"
                        },
                        "idType": {
                            "mode": "chose",
                            "label": "Channel ID"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "mmaxwell265"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "idType",
                        "type": "select",
                        "label": "ID type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "user",
                                "username"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "User (Channel ID)",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{\n  \"status\": \"completed\",\n  \"sentiment\": \"{{3.body.response}}\"\n}",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 930,
                    "y": -3
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "validate": {
                            "min": 100
                        },
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        },
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}